* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--white: #fff;
	--black: #000;
	--gray: #626262;
	--gray-light: #c3cbce;
	--gray-dark: #4a5568;

	--primary: #3a6258;
	--secondary: #2c3f5a;

	--accent: #e37368;

	--text-small: 0.7rem;
	--text-base: 1rem;
	--text-medium: 1.125rem;
	--text-large: 1.25rem;
	--text-xlarge: 1.5rem;

	--font-sans: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
code,
a,
li,
button {
	font-size: var(--text-base);
}

body {
	margin: 0;
	padding: 0;
	font-family: var(--font-sans);
}

@media (prefers-color-scheme: dark) {
	/* :root {
		--text: #9ca3af;
		--text-h: #f3f4f6;
		--bg: #16171d;
		--border: #2e303a;
	} */
}

.default-layout {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: justify-between;
	align-items: center;
	min-height: 100vh;
}

main {
	flex-grow: 1;
}

.wrap {
	width: 100%;
}

.container {
	max-width: 90rem;
}

.mx-auto {
	margin: 0 auto;
}
